node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# GATIS dynamic database caches or SQLite files
data/raw/
*.sqlite3
